<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Statistics"></Label>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>
<TabView id="tabViewContainer" (selectedIndexChanged)="IndexChanged($event)" class="Statistics">
    <ActivityIndicator row="1" #activityIndicator [busy]="onbusy" width="100" height="100" class="activity-indicator"></ActivityIndicator>
    <StackLayout *tabItem="{title: 'Bar Chart'}">
        <label class="Header" [text]="chart_type"></label>
        <RadCartesianChart row="0" id="cartesianChart" class="bar-chart">
            <CategoricalAxis allowPan="true" allowZoom="true" tkCartesianHorizontalAxis labelSize="15" labelMargin="5"></CategoricalAxis>
            <LinearAxis allowPan="true" allowZoom="true" tkCartesianVerticalAxis></LinearAxis>
            <BarSeries maxBarSize=40 tkCartesianSeries [items]="List" categoryProperty="plate_number" valueProperty="usage" seriesName="Bar"></BarSeries>
            <Palette tkCartesianPalette seriesName="Bar">
                <PaletteEntry tkCartesianPaletteEntry fillColor="#045ff2" strokeColor="#000928"></PaletteEntry>
            </Palette>
        </RadCartesianChart>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Line Graph'}">
        <label class="Header" [text]="chart_type"></label>
        <RadCartesianChart tkExampleTitle tkToggleNavButton height="100%">
            <CategoricalAxis tkCartesianHorizontalAxis allowPan="true" allowZoom="true"></CategoricalAxis>
            <!-- <DateTimeCategoricalAxis  tkCartesianHorizontalAxis dateFormat="dd/MM"></DateTimeCategoricalAxis>-->
            <LinearAxis allowPan="true" allowZoom="true" tkCartesianVerticalAxis></LinearAxis>
            <LineSeries tkCartesianSeries [items]="GraphList" categoryProperty="Date" valueProperty="Amount"></LineSeries>
        </RadCartesianChart>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Fuel Price'}">
        <label class="Header" [text]="chart_type"></label>
        <RadCartesianChart tkExampleTitle tkToggleNavButton height="100%" seriesSelectionMode="Single">
            <CategoricalAxis tkCartesianHorizontalAxis allowPan="true" allowZoom="true"></CategoricalAxis>
            <!-- <DateTimeCategoricalAxis  tkCartesianHorizontalAxis dateFormat="dd/MM"></DateTimeCategoricalAxis>-->
            <LinearAxis allowPan="true" allowZoom="true" tkCartesianVerticalAxis></LinearAxis>
            <LineSeries tkCartesianSeries legendTitle="Ron 95" legendLabel="Fuel type" [items]="Fuel_Price" categoryProperty="Date" valueProperty="Ron95"></LineSeries>
            <LineSeries tkCartesianSeries legendTitle="Ron 97" legendLabel="Fuel type" [items]="Fuel_Price" categoryProperty="Date" valueProperty="Ron97"></LineSeries>
            <LineSeries tkCartesianSeries legendTitle="Diesel" legendLabel="Fuel type" [items]="Fuel_Price" categoryProperty="Date" valueProperty="Diesel"></LineSeries>
            <RadLegendView tkCartesianLegend position="Bottom" title="Fuel type" height="150" enableSelection="true"></RadLegendView>
        </RadCartesianChart>
    </StackLayout>
</TabView>